@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny/Banny-Round.eot"), url("../fonts/Banny/Banny-Round.ttf") format("truetype"), url("../fonts/Banny/Banny-Round.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal; }

.container {
  max-width: 1380px;
  margin: auto;
  padding: 0 50px; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }

.full-screen {
  width: 100vw;
  height: 100vh;
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .full-screen .full-screen__wrap {
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh; }

.header__burger {
  display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative; }
  .menu .menu__link {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    width: 133px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    white-space: nowrap; }
    .menu .menu__link:hover {
      background-color: #e8c100b6;
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
  .menu .menu__link--active {
    background-color: #e8c100b6; }

.menu__list--left::after {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 50%;
  left: 10px;
  top: 99px; }

.menu__list--right::after {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 50%;
  right: 10px;
  top: 99px; }

.logo {
  margin: 25px 0; }
  .logo:hover {
    -webkit-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }
  .main .main__operating-mode {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .main .main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 45px; }
    .main .main__info .main__tag {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.5em;
      text-align: center;
      color: #fff; }
    .main .main__info .main__restaurant-name {
      font-family: "Banny", sans-serif;
      font-size: 96px;
      color: #fff;
      margin: 15px 0;
      text-align: center; }
    .main .main__info .main__button {
      width: 200px;
      height: 60px;
      background-color: transparent;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      margin-top: 5%;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      cursor: pointer; }
      .main .main__info .main__button:hover {
        background-color: #e8c300;
        border: none;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    .main .main__info .button__book-table {
      margin-right: 40px; }
  .main .main__social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
    .main .main__social .main__link {
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      -o-transition: transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
      .main .main__social .main__link:hover {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease; }

.down-link {
  margin-bottom: 35px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  .down-link:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }

.trait {
  display: inline-block;
  width: 60px;
  height: 5px;
  background: #e8c300;
  border-radius: 50px; }

.block__small {
  display: block;
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase; }

.block__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0; }
  .block__main .block__text {
    text-align: center;
    padding: 0 50px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .block__main .block__text .block__title {
      font-family: "Banny", sans-serif;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase; }
    .block__main .block__text .block__subtitle {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      margin: 7px; }
    .block__main .block__text .block__description {
      margin-top: 20px;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px; }
  .block__main .block__image {
    position: relative; }
    .block__main .block__image img {
      width: 350px;
      height: 350px;
      max-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 5px; }
    .block__main .block__image::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border: 20px solid #e8c300;
      -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      top: 55px;
      right: -100px; }

.team {
  background: url(../img/team-bg.jpg) no-repeat;
  width: 100vw;
  height: auto;
  background-size: cover;
  color: #fff; }
  .team .team__wrap {
    background: rgba(0, 0, 0, 0.6); }
    .team .team__wrap .block__main {
      padding-top: 50px; }
      .team .team__wrap .block__main .block__image::before {
        left: -100px; }

.booking .block__main {
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .booking .block__main .booking-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    align-items: center; }
    .booking .block__main .booking-form .block__trait {
      margin: 20px; }
    .booking .block__main .booking-form input {
      width: 49%;
      min-height: 40px;
      background: #e5e5e5;
      border-radius: 5px;
      border: none;
      padding: 10px 20px;
      margin: 5px 0 5px 1px;
      line-height: 40px; }
    .booking .block__main .booking-form input:focus {
      border: 1px solid #e8c300; }
    .booking .block__main .booking-form .booking__button {
      width: 99%;
      background-color: #e8c300;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      min-height: 60px;
      cursor: pointer; }
  .booking .block__main .block__image {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%; }
    .booking .block__main .block__image::before {
      z-index: -1;
      height: 400px;
      top: -45px;
      left: 150px; }

.booking .booking__operating-mode {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  margin-bottom: -150px; }

.specialities__slider .slick-list {
  overflow: hidden; }

.specialities__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.specialities__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 50px; }

.specialities__slider .slick-dots li {
  list-style: none;
  margin: 0 10px; }

.specialities__slider .slick-dots li.slick-active button {
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.specialities__slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #7e7070;
  border-radius: 50%;
  border: none; }

.specialities {
  margin-top: 0;
  background: url(../img/specialities-bg.jpg) no-repeat;
  background-size: cover;
  color: #fff; }
  .specialities .specialities__wrap {
    background: rgba(0, 0, 0, 0.6); }
    .specialities .specialities__wrap .block__main {
      padding: 50px 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .specialities .specialities__wrap .block__main .block__image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
        .specialities .specialities__wrap .block__main .block__image img {
          width: 350px;
          height: 350px;
          max-width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 5px; }
      .specialities .specialities__wrap .block__main .block__image::before {
        display: none; }

.restaurant-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 0; }
  .restaurant-menu .block__title {
    font-family: "Banny", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase; }
  .restaurant-menu .block__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin: 7px;
    max-width: 565px;
    text-align: center;
    margin: 0; }
  .restaurant-menu .block__trait {
    margin: 10px 0; }
  .restaurant-menu .tabs .tabs__nav {
    text-align: center;
    margin: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .restaurant-menu .tabs .tabs__nav .tabs__link {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #333333;
      text-decoration: none;
      padding: 10px 10px;
      -webkit-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out; }
      .restaurant-menu .tabs .tabs__nav .tabs__link:hover {
        color: #e8c300;
        border-radius: 2px; }
      .restaurant-menu .tabs .tabs__nav .tabs__link:focus {
        color: #e8c300;
        font-size: 24px; }
    .restaurant-menu .tabs .tabs__nav .vline {
      background-color: rgba(160, 155, 155, 0.671);
      width: 1px;
      height: 30px; }
  .restaurant-menu .tabs .tabs__content {
    width: 100%; }
    .restaurant-menu .tabs .tabs__content .tabs__pane {
      display: none; }
      .restaurant-menu .tabs .tabs__content .tabs__pane .dish {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        max-width: 355px;
        padding: 15px; }
        .restaurant-menu .tabs .tabs__content .tabs__pane .dish .dish__text {
          max-width: 73%;
          padding-right: 5px; }
          .restaurant-menu .tabs .tabs__content .tabs__pane .dish .dish__text .dish__name {
            font-family: "Banny", sans-serif;
            font-size: 18px;
            line-height: 18px;
            color: #333333;
            text-transform: uppercase; }
          .restaurant-menu .tabs .tabs__content .tabs__pane .dish .dish__text .dish__ingredients {
            color: #333333;
            opacity: 50%;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; }
        .restaurant-menu .tabs .tabs__content .tabs__pane .dish .dish__price {
          font-family: "Banny", sans-serif;
          font-size: 18px;
          line-height: 18px;
          color: #333333;
          text-transform: uppercase; }
    .restaurant-menu .tabs .tabs__content .visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.events {
  background: url(../img/specialities-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto; }
  .events .events__wrap {
    background: rgba(0, 0, 0, 0.6); }
    .events .events__wrap .block__small {
      color: #fff; }
    .events .events__wrap .block__main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 50px 0; }
      .events .events__wrap .block__main .block__image {
        text-decoration: none;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .events .events__wrap .block__main .block__image:hover {
          -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
          transform: scale(1.03);
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .events .events__wrap .block__main .block__image img {
          width: 350px;
          height: 350px;
          max-width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 5px; }
        .events .events__wrap .block__main .block__image::before {
          display: none; }
      .events .events__wrap .block__main .block__image--left {
        margin-right: 50px; }
        .events .events__wrap .block__main .block__image--left::after {
          content: "weddings";
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 80px;
          top: 135px;
          left: 135px;
          line-height: 1;
          background: #000;
          border-radius: 5px 5px 0px 0px;
          color: #fff;
          text-transform: uppercase;
          font-family: "Banny", sans-serif;
          font-size: 24px;
          line-height: 12px;
          text-indent: 20px;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
      .events .events__wrap .block__main .block__image--right {
        margin-left: 50px; }
        .events .events__wrap .block__main .block__image--right::after {
          content: "corporate pzrties";
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 80px;
          top: 135px;
          left: -135px;
          background: #000;
          border-radius: 5px 5px 0px 0px;
          color: #fff;
          text-transform: uppercase;
          font-family: "Banny", sans-serif;
          font-size: 24px;
          line-height: 12px;
          text-indent: 20px;
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
      .events .events__wrap .block__main .block__bottom-text {
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding-top: 50px; }

.gallery__slider .slick-list {
  overflow: hidden; }

.gallery__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.gallery__wrap {
  position: relative; }

.gallery__slider .gallery__img img {
  display: block;
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  opacity: 0.9; }
  .gallery__slider .gallery__img img:hover {
    opacity: 1; }

.contact .block__main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .contact .block__main .contact__form {
    width: 100%;
    margin-top: 50px; }
    .contact .block__main .contact__form .contact__inputs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .contact .block__main .contact__form .contact__inputs .contact__input {
        width: 32.5%;
        background: #e5e5e5;
        border-radius: 5px;
        border: none;
        padding: 20px; }
      .contact .block__main .contact__form .contact__inputs input:focus,
      .contact .block__main .contact__form .contact__inputs textarea:focus {
        border: 1px solid #e8c300; }
      .contact .block__main .contact__form .contact__inputs .input__text {
        width: 100%;
        background: #e5e5e5;
        border-radius: 5px;
        border: none;
        min-height: 120px;
        padding: 20px;
        margin: 10px 0; }
    .contact .block__main .contact__form .contact__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .contact .block__main .contact__form .contact__info .contact__num {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .contact .block__main .contact__form .contact__info .contact__num .contact__line {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .contact .block__main .contact__form .contact__info .contact__num .contact__line .contact__date {
            font-weight: bold;
            font-size: 12px;
            line-height: 12px;
            color: rgba(51, 51, 51, 0.5);
            padding: 10px; }
      .contact .block__main .contact__form .contact__info .contact__send {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        background: #e8c300;
        border-radius: 5px;
        border: none;
        padding: 20px 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer; }

.footer {
  background: rgba(0, 0, 0, 0.9);
  height: 100px; }
  .footer .footer__text {
    text-align: center;
    padding: 42px 0;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5); }

@media only screen and (max-height: 568px) {
  .main__content .down-link {
    display: none; } }

@media (max-width: 1400px) {
  .menu .menu__link {
    width: 100px; }
  .contact .block__main .contact__form .contact__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact .block__main .contact__form .contact__info .contact__num {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin: 20px 0; }
    .contact .block__main .contact__form .contact__info .contact__send {
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

@media (max-width: 1100px) {
  .menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .menu .menu__link {
    margin-top: 10px;
    width: 150px;
    height: 80px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .main {
    margin-top: 10%; }
    .main .main__info .main__restaurant-name {
      font-size: 66px; }
    .main .main__social .main__link {
      width: 32px;
      height: 32px;
      margin-bottom: 35px; }
  .block__main {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .block__main .block__text {
      padding: 0 30px; }
  .team .block__main {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .team .block__main .block__text {
      padding: 0 30px; }
  .booking .block__main .booking-form {
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .booking .block__main .block__image {
    display: none; }
  .specialities .specialities__wrap .block__main {
    padding: 25px 0; }
  .events .events__wrap .block__main .block__image img {
    width: 300px;
    height: 300px; }
  .events .events__wrap .block__main .block__image--left::after {
    width: 303px;
    height: 60px;
    top: 120px;
    left: 120px;
    font-size: 24px; }
  .events .events__wrap .block__main .block__image--right::after {
    width: 303px;
    height: 60px;
    top: 120px;
    left: -125px; }
  .gallery__slider .gallery__img img {
    width: 350px;
    height: 350px; } }

@media (max-width: 955px) {
  .block__main .block__text {
    padding: 0 15px; }
    .block__main .block__text .block__title {
      font-size: 26px; }
    .block__main .block__text .block__subtitle {
      font-size: 16px; }
    .block__main .block__text .block__description {
      font-size: 14px; }
  .block__main .block__image::before {
    right: -50px; }
  .team .team__wrap .block__main .block__image::before {
    left: -50px; }
  .specialities .specialities__wrap .block__main .block__image img {
    width: 250px;
    height: 250px; }
  .specialities .specialities__wrap .block__main .block__text {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%; }
  .events .events__wrap .block__main .block__image--left {
    margin-right: 10px; }
  .events .events__wrap .block__main .block__image--right {
    margin-left: 10px; } }

@media (max-width: 768px) {
  .main {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main .main__operating-mode {
      font-size: 12px;
      text-align: center;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      display: none; }
    .main .main__info {
      margin-left: 0; }
      .main .main__info .main__restaurant-name {
        font-size: 56px; }
    .main .main__social {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 50px; }
      .main .main__social .main__link {
        width: 100%;
        margin: 5px; }
        .main .main__social .main__link img {
          width: 52px; }
  .down-link img {
    width: 42px;
    height: 42px; }
  .block__main {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 50px 0; }
    .block__main .block__text {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
      text-align: left;
      padding: 0 15px;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .block__main .block__text .block__title {
        text-align: left; }
      .block__main .block__text .block__subtitle {
        margin: 10px 0; }
    .block__main .block__image {
      z-index: 2;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin: 10px 10px 0 0; }
      .block__main .block__image img {
        width: 250px;
        height: 250px; }
      .block__main .block__image::before {
        z-index: -1;
        opacity: 0.8;
        top: 40px;
        right: 15px; }
  .team .team__wrap .block__main .block__image::before {
    top: 40px;
    left: -30px; }
  .specialities .specialities__wrap .block__main .block__image img {
    width: 200px;
    height: 200px;
    margin: 0; }
  .restaurant-menu {
    padding: 50px 0; }
  .events .events__wrap .block__main {
    padding: 50px 0; }
    .events .events__wrap .block__main .block__image--left,
    .events .events__wrap .block__main .block__image--right {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin: 15px; }
    .events .events__wrap .block__main .block__image--left::after,
    .events .events__wrap .block__main .block__image--right::after {
      width: 100%;
      height: 60px;
      top: 0px;
      left: 0px;
      font-size: 18px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      text-align: center; }
    .events .events__wrap .block__main .block__bottom-text {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
  .gallery__slider .gallery__img img {
    width: 250px;
    height: 250px;
    opacity: inherit; }
  .contact .block__main .block__text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: center; }
    .contact .block__main .block__text .block__title {
      text-align: center; }
  .contact .block__main .contact__form {
    margin-top: 25px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    .contact .block__main .contact__form .contact__info .contact__num {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin: 30px 0 0 0; }
  .footer {
    height: 50px; }
    .footer .footer__text {
      padding: 20px; }
  body.lock {
    overflow: hidden; }
  .logo {
    display: none; }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    top: 50px;
    left: 0;
    z-index: 1; }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px; }
  .menu {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #16120c;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .menu__list--left::after,
  .menu__list--right::after {
    display: none; }
  .menu.active {
    top: 0; }
  .menu__list {
    width: 100%; }
    .menu__list .menu__link {
      color: #e8c300;
      font-size: 28px;
      margin: 0;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      text-align: center; }
      .menu__list .menu__link:hover {
        background-color: transparent; }
    .menu__list .menu__link--active {
      background-color: transparent; } }

@media (max-width: 560px) {
  .container {
    padding: 0 15px; }
  .header__burger {
    top: 40px;
    margin-bottom: 40px; }
  .main .main__info .main__buttons {
    text-align: center;
    margin-top: 30px; }
    .main .main__info .main__buttons .button__book-table {
      margin: auto; }
  .block__main .block__image::before {
    display: none; }
  .booking .block__main {
    margin: 0;
    padding-bottom: 0; }
    .booking .block__main .booking-form input {
      width: 100%; }
    .booking .block__main .booking-form input:nth-child(5),
    .booking .block__main .booking-form input:nth-child(6) {
      width: 49%; }
    .booking .block__main .booking__operating-mode {
      margin: 30px; }
  .restaurant-menu .tabs .tabs__nav {
    margin: 50px 0; }
  .specialities__slider .slick-dots li button {
    width: 7px;
    height: 7px; }
  .specialities .specialities__wrap .block__main .block__image img {
    width: 150px;
    height: 150px; }
  .contact .block__main .contact__form .contact__inputs .contact__input {
    width: 100%;
    margin: 3px 0; } }

@media (max-width: 431px) {
  .main .main__info .main__restaurant-name {
    font-size: 42px; }
  .main .main__info .main__buttons .main__button {
    width: 150px;
    height: 50px;
    font-size: 11px; }
  .main .main__social .main__link {
    margin: 3px; }
    .main .main__social .main__link img {
      width: 30px;
      height: 30px; }
  .menu {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 20%; }
  .menu__list .menu__link {
    height: 60px;
    font-size: 20px; }
  .block__main .block__text {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%; }
  .block__main .block__image img {
    width: 150px;
    height: 150px; }
  .block__main .block__text {
    max-width: 100%; }
  .booking .block__main .booking-form input:nth-child(5),
  .booking .block__main .booking-form input:nth-child(6) {
    width: 100%; }
  .specialities .specialities__wrap .block__main .block__image img {
    width: 100px;
    height: 100px; }
  .restaurant-menu .tabs .tabs__nav {
    margin: 30px 0;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right; }
    .restaurant-menu .tabs .tabs__nav .tabs__link {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
      .restaurant-menu .tabs .tabs__nav .tabs__link::after {
        border: none; }
  .restaurant-menu .tabs .tabs__content .tabs__pane .dish {
    max-width: 310px;
    padding: 10px; }
  .events .events__wrap .block__main .block__image img {
    width: 200px;
    height: 200px; }
  .events .events__wrap .block__main .block__image--left::after,
  .events .events__wrap .block__main .block__image--right::after {
    height: 50px;
    font-size: 16px;
    line-height: 1; } }
